* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Quicksand", sans-serif !important;
  font-weight: 400 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500 !important;
}
.banner {
  height: 100vh;
  position: relative;
  width: auto;
  margin-top: 0px;
}
.slider {
  width: 95%;
  float: left;
  height: 100vh;
}
.carousel-caption {
  max-width: 500px !important;
  max-height: 350px !important;
  text-align: right !important;
  right: 60px !important;
  left: auto !important;
  top: 160px !important;
}
.carousel-caption h1,
h2 {
  font-size: 70px;
  animation: textanimation 0.5s ease-in;
}
@keyframes textanimation {
  0% {
    letter-spacing: 20px;
  }
  100% {
    letter-spacing: 1px;
  }
}
.carousel-caption p {
  animation: textanimation2 0.2s ease-in;
  font-size: large;
}
@keyframes textanimation2 {
  0% {
    transform: scale(0);
  }
  100% {
    letter-spacing: 1px;
  }
}
.carousel-caption {
  margin-top: 40px;
}
.side-menu {
  height: 100%;
  width: 5%;
  background-color: #5e1914;
  position: relative;
  float: right;
  z-index: 2;
}
.side-menu ::after {
  content: "";
  width: 1px;
  height: 100px;
  background: #fff;
  left: 35px;
  top: 200px;
  position: absolute;
}
.carousel-item {
  height: 100%;
}
.carousel-item img {
  height: 100vh;
}
.menu-icon {
  width: 20px;
  margin: 25px;
  cursor: pointer;
}
.carousel-indicators {
  left: 85% !important;
  height: 40% !important;
  width: 95px !important;
  top: 55% !important;
  display: block !important;
  color: #fff !important;
}
.carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  margin-left: 35px !important;
  margin-top: 15px !important;
  background: transparent !important;
  border: 2px solid #fff !important;
}
.top-bar {
  position: absolute;
  margin: 20px 50px;
  z-index: 2;
}
.top-bar img {
  height: 50px;
  cursor: pointer;
}
.top-bar ul {
  display: inline-flex;
}
.top-bar li {
  list-style: none;
  margin: 15px 20px;
  float: left;
}
.top-bar li a {
  color: #fff;
  display: block;
  padding-top: 5px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s all ease;
  border: 0;
}

.social-icons {
  top: 45%;
  left: 5%;
  position: absolute;
  z-index: 2;
}
.social-icons ul li {
  list-style: none;
  margin: 10px;
  font-size: 20px;
}
.social-icons ul li a {
  color: #fff;
}
.top-bar li a:hover {
  color: #950740;
  border: blueviolet;
  border: solid;
  border-radius: 15px;
  padding: 5px;
  font-weight: 600;
}
.btnn {
  top: 85%;
  left: 40%;
  position: absolute;
  z-index: 2;
  padding: 10px;
}
.btn2 {
  padding: 5px;
  border-radius: 7px;
  border: 2px solid#5e1914;
  width: 200px;
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  transition: 1s all ease;
}

.btn2:hover {
  background-color: #5e1914;
}
.col-md-11 {
  padding: 0 !important;
}
